@font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello.eot') format('embedded-opentype'),
    url('../../fonts/fontello.woff') format('woff'),
    url('../../fonts/fontello.ttf') format('truetype'),
    url('../../fonts/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myriadProRegular';
    src: url('../../fonts/MyriadProRegular.eot') format('embedded-opentype'),
    url('../../fonts/MyriadProRegular.woff') format('woff'),
    url('../../fonts/MyriadProRegular.ttf') format('truetype'),
    url('../../fonts/MyriadProRegular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-login:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */