body {
  font-size: 80%;
}

.wrapper {
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
  color: $base-dark-color;

  .header {
    height: 59px;
    padding-left: 3.6%;
    @include flex();
    @include alignBoth(space-between, center);

    &__container {
      @include flex();
      @include alignItems(center);
      width: 55%;
    }

    &__logo {
      width: 114px;
      position: relative;
      top: 2px;
      margin-right: 15.2%;
    }

    &__search-form {
      position: absolute;
      top: 70px;
      width: 92.8%;
      left: 3.6%;
        .header__button-send {
          left: 1px;
          top: 0px;
          font-size: 13px;
          cursor: pointer;
        }
    }

    &__input {
      padding: 0 5px 5px 22px;
      width: 100%;
    }

    &__menu {
      width: 100%;
    }

    &__menu-btn {
      display: inline-block;
      width: 49%;
      padding: 15px 10px 12px;
      text-align: center;
      color: $base-light-color;
      position: relative;
      cursor: pointer;
      z-index: 1;
      font: emy(16) $myriadPro-ff;
    }

    &__user-block {
      width: 180px;
      margin-left: 10px;
      background-color: $accent-color;
      height: 100%;
      @include flex();
      @include alignBoth(flex-end, center);

      .personal-data__photo {
        margin: 0 11px 0 0;
      }
    }

    &__user-block--not-authorized {
      padding-right: 1.3%;
      padding-left: 25px;
      width: 100%;
    }

    &__user-block--authorized {
      padding-right: 1.3%;
      padding-left: 25px;
      position: absolute;
      z-index: 2;
      top: 59px;
      width: 100%;
      height: 0;
      overflow: hidden;
      background: $accent-color;
      padding: 0px 5%;
      @include flex();
      @include flexWrap(wrap);
      @include alignBoth(space-between, center);
      @include transition();
      &.header__user-block--open {
        height: auto;
        padding: 10px 5%;
      }
    }

    &__greeting {
      color: $base-light-color;
      @include font(18, $bold-ff);
    }

    &__greeting-link {
      color: $base-dark-color;
    }

    &__logout {
      color: $base-light-color;
      font-size: emy(29);
      @include transition();
      &:hover {
        color: $base-dark-color;
      }
    }
  }

  .burger {
    margin-right: 20px;
    cursor: pointer;
  }

  .burger--active {
    .burger__item:not(:nth-child(2)) {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .burger__item:first-child {
      top: 7px;
    }
    .burger__item:last-child {
      top: -7px;
      opacity: 0;
    }
    .burger__item:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .burger__item {
    display: block;
    position: relative;
    background-color: $base-light-color;
    width: 25px;
    height: 3px;
    margin-bottom: 4px;
    border-radius: 2px;
    @include transition();
    &:last-child {
      margin-bottom: 0;
    }
  }

  .button-send--absolute {
    position: absolute;
    background: none;
    color: $base-dark-color;
  }

  .logo {
    height: auto;

    &__img {
      @include coverImg();
    }
  }

  .input {
    border-bottom: 1px solid $accent-color;
    @include font(14, $regular-ff);
    color: $base-dark-color;
    padding-bottom: 5px;
    &::-webkit-input-placeholder {
      @include font(16, $regular-ff);
      color: $base-dark-color;
    }
    &:focus::-webkit-input-placeholder {color: transparent}
    &:focus::-moz-placeholder          {color: transparent}
  }

  .personal-data {
    @include flex();
    @include alignItems(center);

    &__photo {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin: 0 11px 0 0;
    }

    &__img {
      @include coverImg();
    }

    &__name {
      @include font(16, $bold-ff);
    }
  }

  .content-products-page {
    padding: 40px 0 1.1%;
    &--max-width {
      margin: 0 auto;
      width: 90%;
      max-width: 1360px;
    }
  }

  .content-product-page {
    padding: 60px 0 1.1%;
    &--max-width {
      margin: 0 auto;
      width: 90%;
      max-width: 950px;
    }
  }

  .icon--hover:hover {
    color: $accent-color;
    @include transition();
  }

  .product {
    margin: 20px 0;
    width: 100%;

    &__img-container {
      width: 100%;
      height: 200px;
    }

    &__img {
      @include coverImg();
    }

    &__description {
      background: $accent-color;
      @include flex();
      @include alignBoth(space-between, center);
      color: $base-light-color;
      height: 50px;
      padding: 0 4%;
    }

    &__title {
      @include font(18, $bold-ff);
      width: 80%;
      @include ellipsisText();
    }

    &__show-more {
      color: $base-light-color;
      font-size: emy(22);
      @include transition();

      &:hover {
        color: $price-color;
      }
    }
  }

  .slider {
    position: relative;

    &__slide {
      width: 100%;
      height: 200px;
      border: none;
      padding: 0 2px;
      outline: none;
      -webkit-transform: scale(.9);
      transform: scale(.9);


      &.slick-center {
        -webkit-transform: scale(1);
        transform: scale(1);
        @include transition(all 300ms ease);
      }

      img {
        @include coverImg;
      }
    };

    .slick-arrow {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 1;
      background: rgba(255, 255, 255, 0.4);
      &:before {
        position: relative;
        cursor: pointer;
        top: 50%;
        font-size: 23px;
        padding: 0 9px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    .slick-disabled {
      opacity: 0;
    }

    .slick-prev {
      left: -1px;
    }

    .slick-next {
      right: -1px;
    }
  }

  .information {
    margin-top: emy(16);

    &__title {
      font: emy(32) $myriadPro-ff;
      color: black;
      margin-bottom: 7px;
    }

    &__personal-data {
      @include font(18, $bold-ff);
      margin-bottom: emy(29);
    }

    &__author {
      color: $accent-color;
    }

    &__price {
      margin-left: 5px;
      color: $price-color;
      font-size: emy(32);
      margin-left: 12px;
      letter-spacing: -1.8px;
    }

    &__description-text {
      color: $base-dark-color;
      @include font(18, $regular-ff);
    }

    &__text {
      margin-bottom: emy(19);
      p {
        margin-bottom: 1px;
      }
    }

    &__list {
      margin-bottom: emy(23);
      list-style-type: none;
    }

    &__list-item {
      position: relative;
      padding-left: 37px;
      &:before {
        content: '-';
        margin-right: 4px;
      }
    }

    &--font-bold {
      font-weight: $bold-ff;
    }

    &--font-italic {
      font-style: italic;
    }
  }

  .chat {
    width: 100%;
    @include flex();
    @include flexWrap(wrap);

    &__title {
      width: 100%;
      @include order(1);
      color: $base-dark-color;
      @include font(30, $bold-ff);
      margin: emy(10) 0 0;

      &>span {
        font-size: emy(7);
        position: relative;
        top: -2px;
        letter-spacing: .2px;
      }
    }

    &__field {
      @include order(3);
    }

    &__list-connected {
      @include order(2);

      .personal-data {
        @include flex(inline-flex);
        margin-bottom: 12px;
        margin-left: 2px;
        &:last-child {
          margin-left: 10px;
        }

        &__photo {
          margin-right: 13px;
        }
      }
    }

    &__interlocutor-name {
      color: $accent-color;
    }

    &__status {
      width: 7px;
      height: 8px;
      margin-left: 3px;
      display: inline-block;
    }

    &__status--active {
      background: $price-color;
    }

    &__message-area {
      min-height: 234px;
      overflow: auto;
      margin-top: emy(20);
    }

    &__message {
      margin-bottom: emy(26);
      &:last-child {
        margin-bottom: emy(20);
      }
    }

    &__message--own {
      @include flex();
      @include justCont(flex-end);

      .chat__message-container {
        @include flexDir(row-reverse);
      }

      .chat__person-photo {
        margin-left: 10px;
        margin-right: 0;
      }

      .chat__message-text {
        padding-right: 0;
        padding-left: 10px;
        &:before {
          content: '';
          left: 0;
          right: auto;
        }
      }
    }

    &__message-container {
      @include flex(inline-flex);
      max-width: 458px;
      width: 90%;
      @include alignItems(center);
    }

    &__message-text {
      position: relative;
      letter-spacing: -.1px;
      @include font(14, $regular-ff);
      padding-right: 6px;
      &:before {
        content: '';
        height: 100%;
        position: absolute;
        width: 5px;
        background: $accent-color;
        right: 0;
      }
    }

    &__person-photo {
      width: 26px;
      height: 26px;
      min-width: 26px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
      img {
        @include coverImg;
      }
    }

    &__form {
      width: 100%;
      position: relative;
      top: -3px;
    }

    &__input {
      width: 100%;
      @include font(12, $regular-ff);
      padding-left: 7px;
      padding-bottom: 4px;
    }

    &__button {
      right: 3px;
      //top: 5px;
      top: 50%;
      font-size: 12px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &__secondary-title {
      @include font(18, $bold-ff);
      margin-bottom: 14px;
    }

  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $accent-color;

    &__text {
      color: $base-light-color;
      @include font(18, $bold-ff);
      text-align: center;
      padding: 15px 10px;
    }
  }
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background: white;
  opacity: 1;
  @include flex;
  @include alignBoth(center, center);
}
