@mixin flex($value: flex) {
  display: -webkit-$value;
  display: $value;
}

@mixin justCont($value) {
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin alignItems($value) {
  -webkit-align-items: $value;
  align-items: $value;
}

@mixin order($value) {
  -webkit-order: $value;
  order: $value;
}

@mixin alignBoth($value1, $value2) {
  -webkit-justify-content: $value1;
  justify-content: $value1;
  -webkit-align-items: $value2;
  align-items: $value2;
}

@mixin flexWrap($value) {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flexDir($value) {
  -webkit-flex-direction: $value;
  flex-direction: $value;
}

@mixin transition($transition: 0.3s all ease-out) {
  -moz-transition:    $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@function emy($pxsize) {
  @return ($pxsize/16)+em;
}

@mixin coverImg() {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}

@mixin font($pxsize, $weight) {
  font: $weight emy($pxsize) Arial, sans-serif;
}

@mixin ellipsisText() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}