
@media (min-width: $mobile) {
  .wrapper {
    .header {
      &__search-form {
        position: relative;
        top: 5px;
        left: 0;
        width: 62%;
        min-width: 120px;
      }
    }

    .content-page {
      padding: 5.5% 0 1.1%;
    }

    .products {
      @include flex();
      @include flexWrap(wrap);
    }
    .product {
      width: calc(50% - 20px);
      margin: 12px 10px;
    }

    .slider {
      &__slide {
        height: auto;
        padding: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}

@media (min-width: $tablet) {

  body {
    font-size: 90%;
  }

  .wrapper {

    .header {

      &__search-form {

        .header__button-send {
            left: 3px;
            top: 3px;
        }
      }

      &__user-block {
        width: 40%;
        max-width: 383px;

        .personal-data__name {
          color: $base-light-color;
        }
      }

      &__logout {
        margin-left: 0;
      }

      &__menu {
        position: absolute;
        bottom: -45px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: $accent-color;
      }

      &__user-block--authorized {
        position: relative;
        top: 0; left: 0;
        @include alignBoth(space-between, center);
        width: 100%;
        overflow: visible;
        height: 100%;
        padding: 0 18px 0 25px;

          .header__personal-data {
          @include flex();
        }
      }

      &__menu-btn--hover, &__user-block--hover {
        &:before {
          content: '';
          width: 5px;
          height: 100%;
          opacity: 0;
          top: 0; left: 0;
          position: absolute;
          background: $base-dark-color;
          @include transition();
        }
        &:hover:before {
          opacity: 1;
        }
      }

      &__user-block--hover:hover {
        .header__menu {
          height: auto;
        }
      }

    }

    .burger {
      display: none;
    }

    .content-product-page {
      @include flex();
      @include flexWrap(wrap);
      padding: 6.4% 0 1.1%;
    }

    .slider {
      width: 52.6%;
    }

    .information {
      width: 45%;
      margin-top: -3px;
      padding-left: 15px;
    }

    .product {
      width: calc(33% - 20px);
    }

    .chat {

      &__field {
         @include order(2);
         width: 54.2%;
      }

      &__list-connected {
        @include order(3);
        margin-top: -10px;

        .personal-data {
          @include flex();

          &:last-child {
            margin-left: 0;
          }
        }
      }

      &__message-area {
        margin-top: 0;
        @include flex();
        @include flexDir(column);
        @include justCont(flex-end);
      }
    }
  }
}

@media(min-width: $desktop) {

  body {
    font-size: 100%;
  }
  .wrapper {

    .content-page {
      &--max-width {
        width: 95%;
      }
    }



    .product {
      width: calc(25% - 20px);
      &__show-more {
        top: -2px;
        position: relative;
      }
    }
  }
}

@media(min-width: $large-desktop) {
  .wrapper {

  }
}