
// Width screens for media queries

$large-desktop: 1500px;
$desktop: 1024px;
$tablet: 720px;
$mobile: 480px;


// COLORS

$base-dark-color: #4A4A4A;
$base-light-color: #fff;
$accent-color: #00B3BE;
$price-color: #91d763;


// FONTS

$light-ff: 300;
$regular-ff: 400;
$bold-ff: 700;
//$title-font: Poppins, Arial, sans-serif;

$myriadPro-ff: "myriadProRegular", Arial, sans-serif;